body {
  background-color: #fecea8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: #45171d;
}

footer {
  text-align: center;
  margin: 20px 0;
}

footer a {
  color: #ff847c;
  margin: auto 20px;
}

img {
  display: block;
  height: 500px;
  width: auto;
  margin: 0 auto;
}

p {
  color: #e84a5f;
  text-align: center;
}
